@font-face{
	font-family: 'Overpass', sans-serif; 
	src: url("/..fonts/Overpass-ExtraBold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}


.button_position
  {
    position:fixed;
    top: 70%; 
    left:460px;
  }
 .img_position
 { 
	position : relative;
	top: 300px ;
	left: 935px ;
 }
 
.otstup {
	position: relative;
	left: 75px;
	top: 75px ;
	font-size: 30px;
	color: #8B0000;
	}

.ghoul {
	font-family: Overpass;
	font-size: 100 px;
	}

.text {
	text-align: left-side;
	left: 100px;
	}
		
.skachka {
	position: fixed;
	left: 860px;
	top: 450px;
	}
		
body {
	background-color: #000;
}

	p	{
		font-family: "Augsberg Modern" ;
	}
	